<template>
  <q-form
    @submit="onSubmit"
    @reset="onReset"
    class="q-gutter-md text-center q-pa-xl fixed-center"
    style="width:80vw; margin:0 auto;"
  >
    <div class="text-h3 text-primary">Iniciar sessão</div>

    <q-separator inset />

    <div class="q-pt-xl" style="max-width:50vw; margin:0 auto;">
      <q-input class="q-pa-xs" outlined v-model="username" label="Nome de utilizador" type="text" />
      <q-input class="q-pa-xs" outlined v-model="password" label="Palavra-Chave" type="password" />
      
      <q-select
            outlined
            v-model="accountType"
            :options="accountTypes"
            label="Permissões do utilizador (temporário)"
            style="width:50%; margin:0 auto;"
          />

    </div>

    <div>
      <q-btn label="Entrar" type="submit" color="primary" />
      <q-btn label="Apagar" type="reset" color="primary" flat class="q-ml-sm" />
    </div>
  </q-form>
</template>

<script>
import sysFunctions from "../assets/sysFunctions.json";

const alerts = [
  {
    color: "negative",
    message: "Nome de utilizador ou palavra-chave errados!",
    icon: "report_problem"
  },
  { color: "teal", message: "Bem-vindo, ", icon: "tag_faces" },
  {
    color: "warning",
    message: "Faltam dados para autenticar esta conta",
    icon: "perm_scan_wifi"
  }
];

let userRealName;

export default {
  name: "Login",
  data() {
    return {
      username: "",
      password: "",
      accountType:null,
      accountTypes: [
        "sysAdmin",
        "opAdmin", 
        "operator"
      ],
    };
  },
  methods: {
    onSubmit(evt) {
      console.log("@submit - do something here", evt);
      console.log("Submiting credentials form...");

      // Send form data for login
      // get permissions and access-token

      if (this.username !== null && this.username !== "") {
        if (this.password !== null && this.password !== "") {
          console.log("Account was accepted!");

          userRealName = "José Oliveira";
          console.log("adsasdas: " + this.$parent.testeVariavel);
          //this.$emit("loginEvent", "Pedro Martins");

          var permissions = this.accountType;

          switch (permissions) {
            case "sysAdmin":
              this.$emit("loginEvent", {
                username:userRealName,
                sysAdminFunctions: sysFunctions.sysAdminFunctions,
                opAdminFunctions: sysFunctions.opAdminFunctions,
                operatorFunctions: sysFunctions.operatorFunctions
              });
              break;
            case "opAdmin":
              this.$emit("loginEvent", {
                username:userRealName,
                sysAdminFunctions: [],
                opAdminFunctions: sysFunctions.opAdminFunctions,
                operatorFunctions: sysFunctions.operatorFunctions
              });
              break;
            case "operator":
              this.$emit("loginEvent", {
                username:userRealName,
                sysAdminFunctions: [],
                opAdminFunctions: [],
                operatorFunctions: sysFunctions.operatorFunctions
              });
              break;
            default:
              this.$emit("loginEvent", {
                username:userRealName,
                sysAdminFunctions: [],
                opAdminFunctions: [],
                operatorFunctions: []
              });
              break;
          }

          this.notify(1);

          // CHANGE PAGE AFTER LOGIN
          //this.$router.replace("/Operator");
        }
        else {
          this.notify(2);
        }
      } else {
        this.notify(2);
      }
    },
    onReset() {
      console.log("Clicked reset button");
      this.username = null;
      this.password = null;
    },

    notify(notify_id) {
      var position = "top-right";
      const { color, textColor, multiLine, icon, message, avatar } = alerts[
        notify_id
      ];

      const buttonColor = color ? "white" : void 0;

      this.$q.notify({
        color,
        textColor,
        icon: icon,
        message: message + (notify_id == 1 ? userRealName : ""),
        position,
        avatar,
        multiLine,
        actions: [
          {
            label: "OK",
            color: "yellow",
            handler: () => {
              // console.log('wooow')
            }
          }
        ],
        timeout: Math.random() * 5000 + 2000
      });
    }
  }
};
</script>

<style>
.q-card {
  width: 360px;
}
</style>