<template>
  <q-layout view="lHh Lpr lFf" style="background:white">
    <q-header style="background:rgb(0,159,225);">
      <q-toolbar style="height:10vh">
        <div class="row full-width full-height">
          <q-toolbar-title class="text-center">
            <q-btn
              v-if="!formIntel"
              style="font-size:3vh; margin-top:1vh; transform:rotate(180deg);"
              class="fixed-top-left"
              flat
              round
              dense
              icon="play_arrow"
              @click="goBack"
            />

            <q-avatar style="font-size:8vh;" class="full-height">
              <img src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg" />
            </q-avatar>

            <q-btn
              style="font-size:3vh; margin-top:1vh"
              class="fixed-top-right"
              flat
              round
              dense
              icon="settings"
              @click="toolbar = true"
            />
          </q-toolbar-title>
        </div>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <q-dialog v-model="toolbar" transition-show="flip-up"
            transition-hide="flip-down">
        <q-card style="height:40vh">
          <q-toolbar>
            <q-avatar>
              <q-icon name="settings" class="text-blue" />
            </q-avatar>

            <q-toolbar-title>Definições</q-toolbar-title>

            <q-btn flat round dense icon="close" v-close-popup />
          </q-toolbar>

          <q-select
            square
            outlined
            v-model="model"
            :options="options"
            label="Linguagem"
          />
        </q-card>
      </q-dialog>

      <Form v-if="formIntel" @showLoading="showLoading" />
      <DataPage v-if="dataPage" :vitaminsArray="vitaminsArray" :nutriArray="nutriArray" />

      <!--<DataSquare :title="'Benefícios'" :things="vitaminsArray" />
      <DataSquare :title="'Nutrição'" :things="nutriArray" />
      <DataSquare :title="'Micronutrientes'" :things="vitaminsArray" />
      -->
    </q-page-container>
  </q-layout>
</template>

<script>
import { QSpinnerFacebook } from "quasar";
import { date } from "quasar";

import axios from "axios";

import Form from "components/Form.vue";
import DataPage from "components/DataPage.vue";

export default {
  name: "MainLayout",
  components: {
    Form,
    DataPage,
  },
  data() {
    return {
      formIntel: true,
      dataPage: false,
      toolbar: false,
      model: null,
      options: ["Português", "English", "Français"],

      // This section belongs to the components to insert edit delete
      showAdd: false,
      tableTitle: "",
      tableData: [],
      tableColumns: [],
      postFields: [],
      vitaminsArray: [
        {
          name: "Vitamina A",
          field: "vitA ug",
          unit: "ug",
          amount: "36 g",
          icon: "fa fa-shield-virus",
        },
        {
          name: "Vitamina B6",
          field: "vitB6 mg",
          unit: "mg",
          amount: "36 g",
          icon: "fas fa-sun",
        },
        {
          name: "Vitamina B12",
          field: "vitB12 ug",
          unit: "ug",
          amount: "36 g",
          icon: "fas fa-star-of-life",
        },
        {
          name: "Vitamina C",
          field: "vitC mg",
          unit: "mg",
          amount: "36 g",
          icon: "fas fa-heart",
        },
        {
          name: "Vitamina D",
          field: "vitD ug",
          unit: "ug",
          amount: "36 g",
          icon: "fas fa-heart",
        },
        {
          name: "Vitamina E",
          field: "vitE mg",
          unit: "mg",
          amount: "36 g",
          icon: "fas fa-heart",
        },
        {
          name: "Ferro",
          field: "ferro mg",
          unit: "mg",
          amount: "36 g",
          icon: "fas fa-heart",
        },
        {
          name: "Omega 3",
          field: "omega3",
          unit: " ",
          amount: "36 g",
          icon: "fas fa-heart",
        },
        {
          name: "Omega 6",
          field: "omega6",
          unit: " ",
          amount: "36 g",
          icon: "fas fa-heart",
        },
        {
          name: "Fosforo",
          field: "fosforo mg",
          unit: "mg",
          amount: "36 g",
          icon: "fas fa-heart",
        },
        {
          name: "Potassio",
          field: "potassio mg",
          unit: "mg",
          amount: "36 g",
          icon: "fas fa-heart",
        },
        {
          name: "Sodio",
          field: "sodio mg",
          unit: "mg",
          amount: "36 g",
          icon: "fas fa-heart",
        },
        {
          name: "Zinco",
          field: "zinco mg",
          unit: "mg",
          amount: "36 g",
          icon: "fas fa-heart",
        },
      ],
      nutriArray: [
        {
          name: "Lipidos 36 g",
          amount: "dos quais saturados 16 g",
          icon: "fa fa-shield-virus",
        },
        {
          name: "Hidratos 58 g",
          amount: "dos quais açucares 36 g",
          icon: "fas fa-sun",
        },
        {
          name: "Proteína 36 g",
          amount: "",
          icon: "fas fa-star-of-life",
        },
        {
          name: "Energia 96 cal",
          amount: "",
          icon: "fas fa-atom",
        },
      ],
    };
  },
  methods: {
    goBack() {
      this.dataPage = false;
      this.formIntel = true;
    },
    showLoading() {
      this.teste();
      console.log("ola");
      this.formIntel = false;

      this.$q.loading.show({
        spinner: QSpinnerFacebook,
        spinnerColor: "white",
        spinnerSize: 140,
        backgroundColor: "rgb(0,159,225)",
        message: "Pesquisando LOTES ...",
        messageSize: 150,
        messageColor: "black",
      });

      // hiding in 3s
      this.timer = setTimeout(() => {
        this.$q.loading.hide();
        this.timer = void 0;

        //TURN MAIN PAGE FORM ACTIVE
        //this.formIntel = true;

        //TURN ON DATA PAGE WITH PRODUCT DETAILS

        this.dataPage = true;
      }, 5000);
    },

    async apiRequest(species) {
      var link =
        "https://valormar-api.web.ua.pt/wiki/v0.2/info/" +
        species +
        "/TabelaNutricional";

      return await axios.get(link).then(function (response) {
        console.log("-----------REQUEST.DATA------------");
        console.log("Response: " + JSON.stringify(response.data));
        console.log("-----------------------------------");

        return response.data;
      });
    },

    async teste() {
      console.log("OLA");
      var data = await this.apiRequest("Bacalhau");

      this.vitaminsArray.forEach((element) => {
        element.amount = data[element.field];
      });

      // Filter vitamins array. Remove nulls
      this.vitaminsArray = this.arrayCleaner(this.vitaminsArray);

      // Append amount unit
      this.vitaminsArray.forEach((element) => {
        element.amount += " " + element.unit;
      });

      console.log("Finished populating array...");
    },

    arrayCleaner(va) {
      var renew = false;
      var array = va;
      array.forEach(function (result, index) {
        console.log(
          "Result: " + JSON.stringify(result) + "Amount: " + result.amount
        );

        if (result.amount <= 0.5) {
          array.splice(index, 1);
          renew = true;
        }
      });
      if (renew) this.arrayCleaner(array);
      return array;
    },
  },
  created() {
    //this.teste();
  },
};
</script>
