<template>
  <div>
    <DataSquare :title="'Benefícios'" :things="vitaminsArray" />
    <DataSquare :title="'Nutrição'" :things="nutriArray" />
    <DataSquare :title="'Micronutrientes'" :things="vitaminsArray" />
  </div>
</template>

<style lang="stylus">
.dataSquare {
  width: 100vw;
  margin: 0 auto;
}

.backimg {
  background: white;
  background-image: url('../assets/obj.png');
  background-size: 100% 100%;
}
</style>

<script>
import DataField from "./DataField";
import DataSquare from "./DataSquare.vue";

import { Screen } from "quasar";
Screen.setSizes({ sm: 300, md: 500, lg: 1000, xl: 2000 });

//style="border: 1px solid gray;"
export default {
  name: "DataPage",
  components: {
    DataField,
    DataSquare,
  },
  props: {
    vitaminsArray: {
      type: Array,
      required: true,
    },
    nutriArray: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      tableContent: false,
    };
  },
  methods: {
    openContent() {
      this.tableContent = !this.tableContent;
    },
  },
  computed: {
    sizes() {
      return this.$q.screen.lt.md ? "primary" : "secondary";
    },
  },
};
</script>
