<template>
  <q-item
    clickable
    tag="a"
    target="_blank"
    style="min-width:30%;height:10vh;"
    class="wrap q-pa-lg justify-center"
    
  >
    <q-list class="text-center">
      <q-icon :name="icon" :size="'xl'" />

      <q-item-section>
        <q-item-label class="text-h3 text-weight-thin">{{ name }}</q-item-label>
        <q-item-label class="text-h4">{{ amount }}</q-item-label>
      </q-item-section>
    </q-list>
  </q-item>
</template>


<script>
export default {
  name: "DataField",
  props: {
    name: {
      type: String,
      required: true,
    },
    amount: {
      type: String,
      required: true,
    },
    icon: {
        type: String,
        required: true
    }
  },
  data(){
      return {
          size:['xl']
      }
  }
  
};
</script>
