<template>
  <div>
    <div class="dataSquare" style="width:95vw">
    <div  style="height:8vh; margin-top:2vh; background:rgb(0,159,225);">
      <span class="float-left text-white full-height" style="font-size: 3.5vh;padding-top:1.5vh; margin-left:3vw;">{{title}}</span>
      <!--<transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeIn">-->
        <q-btn
          class="float-right bg-white justify-center"
          style="width:6vh;height:6vh; transform:rotate(45deg); margin-top:1vh; margin-right:1vw;"
          @click="openContent"
        >
          <q-icon name="expand_less" style></q-icon>
        </q-btn>
      </transition>
    </div>

    <div
      v-if="tableContent"
      class="row justify-center"
      style="border: 1px solid lightgray;width:100%"
    >
      <DataField
        v-for="link in things"
        :key="link"
        v-bind="link"
        style="background:ghostwhite; min-height:22vh"
      />
    </div>
  </div>
  </div>
</template>

<style lang="stylus">
.dataSquare {
  width: 100vw;
  margin: 0 auto;
}

.backimg {
  background:white;
  background-image: url('../assets/obj.png');
  background-size: 100% 100%;
}
</style>

<script>
import DataField from "./DataField";

import { Screen } from "quasar";
Screen.setSizes({ sm: 300, md: 500, lg: 1000, xl: 2000 });

//style="border: 1px solid gray;"
export default {
  name: "DataSquare",
  components: {
    DataField,
  },
  props: {
    title: {
      type: String,
      required: true,
    },
    things: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      tableContent: false,
    };
  },
  methods: {
    openContent() {
      this.tableContent = !this.tableContent;
    },
  },
  computed: {
    sizes() {
      return this.$q.screen.lt.md ? "primary" : "secondary";
    },
  },
};
</script>
