<template>
  <q-item
    clickable
    tag="a"
    target="_blank"
    class="wrap q-ma-xs justify-center full-height self-center dataField"
  >
    <q-list class="text-center self-center">
      <q-icon class="iconClass" color="blue" :name="icon" />

      <q-item-section style class>
        <q-item-label class="text-weight-thin labelName">{{ name }}</q-item-label>
        <q-item-label class="full-width full-height labelAmount">{{ amount }}</q-item-label>
      </q-item-section>
    </q-list>
  </q-item>
</template>

<style lang="stylus">
body.screen--xs {
  .dataSquare {
    background: blue;
  }
}

body.screen--xs {


  .dataField {
    width: 30%;
  }

  .iconClass {
    font-size: 8vw;
  }

  .labelName {
    font-size: 5vw;
  }

  .labelAmount {
    font-size: 3.5vw;
  }
}

body.screen--sm {


  .dataField {
    width: 30%;
    
  }

  .iconClass {
    font-size: 8vw;
  }

  .labelName {
    font-size: 5vw;
  }

  .labelAmount {
    font-size: 3.5vw;
  }
}

body.screen--md {
  

  .dataField {
    width: 30%;
  }

  .iconClass {
    font-size: 8vw;
  }

  .labelName {
    font-size: 5vw;
  }

  .labelAmount {
    font-size: 3.5vw;
  }
}

body.screen--lg {
  .dataSquare {
    background: green;
  }

  .dataField {
    width: 22.5%;
  }

  .iconClass {
    font-size: 4vw;
  }

  .labelName {
    font-size: 3.5vw;
  }

  .labelAmount {
    font-size: 2.5vw;
  }
}

body.screen--xl {
  .dataSquare {
    background: green;
  }

  .dataField {
    width: 15%;
  }

  .iconClass {
    font-size: 4vw;
  }

  .labelName {
    font-size: 3.5vw;
  }

  .labelAmount {
    font-size: 2.5vw;
  }
}
</style>

<script>
export default {
  name: "DataField",
  props: {
    name: {
      type: String,
      required: true,
    },
    amount: {
      type: String,
      required: true,
    },
    icon: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      size: ["xl"],
    };
  },
};
</script>
