<template>
  <div>
    <q-img src="../assets/Untitled-1.png" style="width: 100%; min-height:20%" native-context-menu />



    <div class="full-width q-pa-lg">
      <q-form  @reset="onReset" class="q-gutter-md">
        <q-input
          filled
          v-model="name"
          label="NOME DA OPERADORA"
          lazy-rules
          :rules="[ val => val && val.length > 0 || 'Por favor insira a Operadora (ex: BomPetisco)']"
        />

        <q-input
          filled
          type="number"
          v-model="age"
          label="NÚMERO DO LOTE"
          lazy-rules
          :rules="[
          val => val !== null && val !== '' || 'Insira o ID do Lote'
        ]"
        />

        <div class="justify-center text-center">
          <q-btn
            padding="lg"
            icon="search"
            style="transform:rotate(45deg); background:rgb(0,159,225); color:white"
            @click="submit"
          />
        </div>
      </q-form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: null,
      age: null,

      accept: false,
    };
  },

  methods: {
    submit() {
        console.log("Submited.");
        this.$emit("showLoading", "teste");
    },

    onReset() {
      this.name = null;
      this.age = null;
      this.accept = false;
    },
  },
};
</script>